/* Add this CSS in your global styles or a specific CSS module */
@keyframes pulsate {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  .pulsating {
    animation: pulsate 1.5s ease-in-out infinite;
  }
  